# customization file for allprojects - automatically applied
custom_allprojects.gradle

# eclipse parts
bin/
gen/
src-gen/
.metadata
.lck
.classpath
.project
.settings/

# intellij parts
*.iml
.idea/
*.ipr
*.iws

# gradle parts
.gradle/

# Build artifacts at all
*.class
build/
*.jar
*.log
*.bak


