# SPDX-License-Identifier: MIT

version: "3"
services:
    pds-gosec:
        build:
            args:
                - BASE_IMAGE=${BASE_IMAGE}
                - GOSEC_VERSION=${GOSEC_VERSION}
            context: docker/
            dockerfile: GoSec-Debian.dockerfile
        container_name: pds-gosec
        hostname: pds-gosec
        env_file:
            - .env
            - .env-single
        networks:
            - "sechub"
        volumes:
          - ./docker/scripts:/pds/scripts

networks:
    sechub:
        external: true
        name: "sechub"
