<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty name="springApplicationName" source="spring.application.name"/>

    <appender name="LOGSTASH_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!--
            see https://github.com/logstash/logstash-logback-encoder#custom-fields
            <customFields>{"sechub_trace_id":"${springApplicationName:-}"}</customFields>
             -->
        </encoder>
    </appender>

    <logger name="org.hibernate" level="${SYSTEM_LOG_LEVEL:-WARN}"/>
    <logger name="org.springframework" level="${SYSTEM_LOG_LEVEL:-WARN}"/>
    <logger name="org.flywaydb" level="${SYSTEM_LOG_LEVEL:-WARN}"/>

    <logger name="com.mercedesbenz" level="${APP_LOG_LEVEL:-INFO}"/>

    <root level="${DEFAULT_LOG_LEVEL:-INFO}">
        <appender-ref ref="${LOGGING_TYPE:-CONSOLE}" />
    </root>

</configuration>