# SPDX-License-Identifier: MIT

version: "3"
services:
    pds-findsecuritybugs:
        build:
            args:
                - BASE_IMAGE=${BASE_IMAGE}
                - FINDSECURITYBUGS_VERSION=${FINDSECURITYBUGS_VERSION}
                - SPOTBUGS_VERSION=${SPOTBUGS_VERSION}
            context: docker/
            dockerfile: FindSecurityBugs-Debian.dockerfile
        container_name: pds-findsecuritybugs
        hostname: pds-findsecuritybugs
        env_file:
            - .env
            - .env-single
        networks:
            - "sechub"
        volumes:
          - ./docker/scripts:/pds/scripts

networks:
    sechub:
        external: true
        name: "sechub"
