# The PDS start mode
#   debug - starts only the container
#   localserver - starts the server locally
PDS_START_MODE=debug, localserver

# Enable Java Remote Debugging
JAVA_ENABLE_DEBUG=true, false

# Admin name and token
# The `{noop}` means no secure hashing
ADMIN_USERID=admin
ADMIN_APITOKEN={noop}pds-apitoken

# Techuser name and token
# The `{noop}` means no secure hashing
TECHUSER_USERID=techuser
TECHUSER_APITOKEN={noop}pds-apitoken

# The loadbalancer start mode
#   debug - starts only the container
#   server - starts the loadbalancer
LOADBALANCER_START_MODE=debug, server

# Keeps the container alive after the server crashed.
# This is helpful for investigating the reason
# for the crash.
KEEP_CONTAINER_ALIVE_AFTER_PDS_CRASHED=true, false

# Location of the shared volume upload dir
# The default is set in the container via Docker
SHARED_VOLUME_UPLOAD_DIR=/shared_volumes/uploads

# The database start mode
#   debug - starts only the container
#   server - initializes and starts the database
DATABASE_START_MODE=debug, server
POSTGRES_ENABLED=true, false
DATABASE_CONNECTION=jdbc:postgresql://database:5432/pds?currentSchema=multi
DATABASE_PASSWORD='top$ecret'
DATABASE_USERNAME=multi

# The object storage start mode
#   debug - starts only the container
#   server - initializes and starts the object storage
OBJECT_STORAGE_START_MODE=debug, server

# Enable s3 (MinIO) as object storage
S3_ENABLED=true, false

# The s3 endpoint
S3_ENDPOINT=http://10.2.43.7:9000

# The s3 bucket name (MinIO or S3)
S3_BUCKETNAME=pds
S3_ACCESSKEY=user
S3_SECRETKEY=Why$5forThat?

#PDS Version
PDS_VERSION=0.30.0
