# customization files
build-custom.gradle
build-custom-buildscript.gradle
build-custom-allprojects.gradle

# eclipse parts
bin/
gen/
src-gen/
.metadata
.lck
.classpath
.project
.settings/

# intellij parts
*.iml
.idea/
*.ipr
*.iws

# vscode parts
.vscode/

# gradle parts
.gradle/

# vi parts
.*.swp

# Build artifacts at all
*.class
build/
*.jar
*.log
*.bak
*.zip
sechub_report*.json
sechub-false-positives*.json
#!sechub.json

# Docker container
.env
