# customization files
build-custom.gradle
build-custom-buildscript.gradle
build-custom-allprojects.gradle

# eclipse parts
bin/
gen/
src-gen/
.metadata
.lck
.classpath
.project
.settings/

# intellij parts
*.iml
.idea/
*.ipr
*.iws

# vscode parts
.vscode/

# theia parts
.theia/

# gradle parts
.gradle/

# vi parts
.*.swp

# Build artifacts at all
*.class
build/
*.jar
*.log
*.bak
*.tar
*.zip
go.sum
sechub_report*.json
sechub_report*.html
sechub-false-positives*.json
#!sechub.json

# OpenAPI
java-gen/

# Docker container
.env*

# OWASP ZAP
*.zap

# Asciidoctor
.asciidoctorconfig.adoc

# macOS
.DS_Store

# Containerized solutions
copy/
!copy/README.adoc

*.deb
*.apk

# Node
node_modules/
