<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>Please Log In</title>
<link rel="stylesheet" href="/css/main.css">
</head>
<body class="container-flex flex-column">
	<section th:replace="fragments/banner"></section>
	<main class="flex-grow padding-thin-all background-light">
		<h1>Please Log In</h1>
		<div th:if="${param.error}">Invalid user name or password.</div>
		<div th:if="${param.logout}">You have been logged out.</div>
		<form th:action="@{/login}" method="post">
			<div>
				<input type="text" name="username" placeholder="Username" />
			</div>
			<div>
				<input type="password" name="password" placeholder="Password" />
			</div>
			<input type="submit" value="Log in" />
		</form>
	</main>
</body>
</html>