<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header (title='SecHub - Status')">
<title>Status</title>
</head>
<body class="container-flex flex-column">
	<section th:replace="fragments/banner"></section>
	<nav th:replace="fragments/navbar"></nav>
	<main class="flex-grow padding-thin-all background-light">
		<h1 class="placeholder">Status</h1>
		<table class="placeholder">
			<tbody>
				<tr>
					<td>Scheduler</td><td>enabled</td>
				</tr>
				<tr>
					<td>Jobs running</td><td>5</td>
				</tr>
				<tr>
					<td>Jobs waiting</td><td>10</td>
				</tr>
				<tr>
					<td>Jobs all</td><td>52 114</td>
				</tr>
				<tr>
					<td>Server version</td><td th:text="${sechubServerVersion}">0.25.0</td>
				</tr>
			</tbody>
		</table>
	</main>
	<footer th:replace="fragments/footer"></footer>
</body>
</html>