<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header (title='SecHub - Status')">
<title>Status</title>
</head>
<body>
	<nav th:replace="fragments/navbar"></nav>
	<main>
		<h1>Status</h1>
		<table>
			<tbody>
				<tr>
					<td>Scheduler</td><td>enabled</td>
				</tr>
				<tr>
					<td>Jobs running</td><td>5</td>
				</tr>
				<tr>
					<td>Jobs waiting</td><td>10</td>
				</tr>
				<tr>
					<td>Jobs all</td><td>52 114</td>
				</tr>
				<tr>
					<td>Server version</td><td th:text="${sechubServerVersion}">0.25.0</td>
				</tr>
			</tbody>
		</table>
	</main>
	<footer th:replace="fragments/footer"></footer>
</body>
</html>