# SPDX-License-Identifier: MIT
spring.profiles.include:
- pds_localserver

# next lines is a default when running inside IDE. Links to sechub-integration aprts
sechub.pds.config.file: "./../sechub-integrationtest/src/main/resources/pds-config-integrationtest.json"
sechub.pds.workspace.rootfolder: "./../sechub-integrationtest/build/test-results/pds-runtime"

sechub:
 pds:
   techuser:
       userid: pds-inttest-techuser
       apitoken: "{noop}pds-inttest-apitoken"
   admin:
       userid: pds-inttest-admin
       apitoken: "{noop}pds-inttest-apitoken"

logging:
 level:
   com.daimler.sechub: DEBUG
   org.apache.http: WARN
   org.apache.http.headers: WARN
   org.apache.http.wire: WARN
