<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/sechub-server/src/main/java/com/mercedesbenz/sechub/SecHubServerApplication.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mercedesbenz.sechub.SecHubServerApplication"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="sechub-server"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sechub-server"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=mocked_products,h2,integrationtest&#10;-Dsechub.server.debug=true&#10;-Dsechub.storage.sharedvolume.upload.dir=/home/user/.sechub/sharedvolume&#10;-Dsechub.targettype.detection.intranet.hostname.endswith=intranet.example.org&#10;-Dsechub.config.trigger.nextjob.initialdelay=0"/>
</launchConfiguration>
