# SPDX-License-Identifier: MIT

# This is a sample values file containing the defaults.

replicaCount: 1

image:
    registry: "my.registry.example.org/pds_scancode"
    tag: "latest"

resources:
    requests:
        # Initial container memory size
        memory: 256Mi
    limits:
        # Maximum container memory size
        memory: 2Gi

pds:
    startMode: localserver
    # Maximum upload size for source code: 20 MiB by default (20 * 1024 * 1024 = 20971520)
    uploadMaximumBytes: "20971520"
    # Maximum upload size for binaries: 100 MiB by default (100 * 1024 * 1024 = 104857600)
    uploadBinariesMaximumBytes: "104857600"
    config:
        execute:
            # Maximal accepted queue size (new job requests will be denied and thus cached on SecHub server)
            queueMax: 10
            # Maximum number of jobs that are processed in parallel by PDS
            workerThreadCount: 1
    volumes:
        workspace:
            size: "1Gi"
    heartbeatLogging: "true"
    logging:
        type:
            enabled: false
            appenderName: "LOGSTASH_JSON"
    debug:
        keepReportsInWorkspace: false
    javaDebug:
        enabled: false
    keepContainerAliveAfterPDSCrashed: false

users:
    technical:
        id: "techuser"
        apiToken: "<api token of techuser>"
    admin:
        id: "admin"
        apiToken: "<api token of admin user>"

storage:
    local:
        enabled: true
    s3:
        enabled: false
        endpoint: "https://<minio-or-s3-server>:<port>"
        bucketname: "<my-bucketname>"
        accesskey: "<my-accesskey>"
        secretkey: "<my-secretkey>"
    sharedVolume:
        enabled: false
        upload:
            dir: "/mount/nfs/shares/<sharename>"

database:
    postgres:
        enabled: false
        connection: "jdbc:postgresql://database:5432/pds"
        username: "scancode"
        password: "<password-of-db-user>"

networkPolicy:
    enabled: false
    ingress:
        - from:
            - podSelector:
                matchLabels:
                    name: sechub-server
            - podSelector:
                matchLabels:
                    name: sechub-adminserver
