<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecHub Login</title>
    <link th:href="@{/login-__${theme}__.css}" rel="stylesheet"/>
    <script>
        function switchTab(tab) {
            const tabs = document.querySelectorAll('.tab');
            const loginOptions = document.querySelectorAll('.login-option');
            tabs.forEach(t => t.classList.remove('active'));
            loginOptions.forEach(option => option.classList.remove('active'));

            tab.classList.add('active');
            const index = Array.from(tabs).indexOf(tab);
            loginOptions[index].classList.add('active');
        }
    </script>
</head>
<body>
<div class="container">
    <div class="login-section">
        <h1>Login</h1>

        <div th:if="${isOAuth2Enabled && isClassicAuthEnabled}" class="tabs">
            <div class="tab" th:classappend="${param.tab != null && param.tab.contains('oauth2')} ? ' active' : ''" onclick="switchTab(this)">OAuth2</div>
            <div class="tab" th:classappend="${param.tab != null && param.tab.contains('classic')} ? ' active' : ''" onclick="switchTab(this)">API Token (Classic)</div>
        </div>

        <div th:if="${isOAuth2Enabled}" class="login-option" th:classappend="${param.tab != null && param.tab.contains('oauth2')} ? ' active' : ''">
            <h4>You will be redirected to your OAuth2 Provider for authentication.</h4>
            <form th:action="@{/oauth2/authorization/__${registrationId}__}" method="POST">
                <button type="submit">Login</button>
            </form>
        </div>

        <div th:if="${isClassicAuthEnabled}" class="login-option" th:classappend="${param.tab != null && param.tab.contains('classic')} ? ' active' : ''">
            <h4>Login with your provided User ID & API Token.</h4>

            <div th:if="${param.error}">
                <p style="color:red;" th:text="${param.errorMsg}"></p>
            </div>

            <form th:action="@{/login(theme='jetbrains', redirectUri='/api/project/test/report')}" method="POST">
                <label for="id">User ID</label>
                <input type="text" id="id" name="username" required>
                <label for="apiToken">API Token</label>
                <input type="password" id="apiToken" name="password" required>
                <div class="button-space"></div>
                <button type="submit">Login</button>
            </form>

            <div class="register">
                <p>Don't have an account? <a href="/register">Register</a></p>
            </div>
        </div>
    </div>

    <div class="info-section">
        <img src="/sechub-logo.svg" alt="SecHub Logo">
        <h2>SecHub</h2>
        <p>One central and easy way to use different security tools with one API/Client.</p>
    </div>
</div>
</body>
</html>
