<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecHub Login</title>
    <link th:href="@{/login/favicon.ico}" rel="icon" />
    <link th:href="@{/login/css/main.css}" rel="stylesheet" />
    <link th:href="@{/login/css/login.css}" rel="stylesheet"/>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('requestApiTokenForm');
            form.addEventListener('submit', handleFormSubmit);
        });
    </script>
    <script type="text/javascript" th:src="@{/login/js/login.js}"></script>
</head>
<body>
<div class="container">
    <div class="login-section">
        <h1>Login</h1>

        <div th:if="${isOAuth2Enabled && isClassicAuthEnabled}" class="tabs">
            <div class="tab" th:classappend="${param.tab != null && param.tab.contains('oauth2')} ? ' active' : ''" onclick="switchTab(this)">OAuth2</div>
            <div class="tab" th:classappend="${param.tab != null && param.tab.contains('classic')} ? ' active' : ''" onclick="switchTab(this)">API Token (Classic)</div>
        </div>

        <div th:if="${isOAuth2Enabled}" class="login-option" th:classappend="${!isClassicAuthEnabled || (param.tab != null && param.tab.contains('oauth2'))} ? ' active' : ''">
            <h4>You will be redirected to your OAuth2 Provider for authentication.</h4>
            <form th:action="@{/oauth2/authorization/__${registrationId}__}" method="POST">
                <button type="submit">Login</button>
            </form>
        </div>

        <div th:if="${isClassicAuthEnabled}" class="login-option" th:classappend="${!isOAuth2Enabled || (param.tab != null && param.tab.contains('classic'))} ? ' active' : ''">
            <h4>Login with your provided User ID & API Token.</h4>

            <div th:if="${param.error}">
                <p style="color:red;" th:text="${param.errorMsg}"></p>
            </div>

            <form action="/login" method="POST">
                <label for="id">User ID</label>
                <input type="text" id="id" name="username" required>
                <label for="apiToken">API Token</label>
                <input type="password" id="apiToken" name="password" required>
                <div class="button-space"></div>
                <button type="submit">Login</button>
            </form>

            <div class="register">
                <p>Don't have an account? <a href="/register">Register</a></p>
                <p>Forgot API Token? <a href="#" onclick="openModal('forgetApiTokenModal')">Request new Token</a></p>
            </div>
        </div>
    </div>
</div>

<!-- The forgetApiTokenModal Modal -->
<div id="forgetApiTokenModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('forgetApiTokenModal')">&times;</span>
        <h2>Request New API Token</h2>
        <form id="requestApiTokenForm">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<!-- Custom Alert Modal -->
<div id="alertModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('alertModal')">&times;</span>
        <p id="alertMessage"></p>
        <button onclick="closeModal('alertModal')">OK</button>
    </div>
</div>
</body>
</html>