# The PDS start mode
# debug - starts only the container
# localserver - starts the server locally
PDS_START_MODE=debug, localserver

# Enable Java Remote Debugging
JAVA_ENABLE_DEBUG=true, false

# Admin name and token
# The `{noop}` means no secure hashing
ADMIN_USERID=admin
ADMIN_APITOKEN="{noop}pds-apitoken"

# Techuser name and token
# The `{noop}` means no secure hashing
TECHUSER_USERID=techuser
TECHUSER_APITOKEN="{noop}pds-apitoken"

# The loadbalancer start mode
# debug - starts only the container
# server - starts the loadbalancer
LOADBALANCER_START_MODE=debug, server

# The database start mode
# debug - starts only the container
# server - starts the database
LOADBALANCER_START_MODE=debug, server