# The PDS start mode
#   debug - starts only the container
#   localserver - starts the server locally
PDS_START_MODE=debug, localserver

# Enable Java Remote Debugging
JAVA_ENABLE_DEBUG=true, false

# Admin name and token
# The `{noop}` means no secure hashing
ADMIN_USERID=admin
ADMIN_APITOKEN={noop}pds-apitoken

# Techuser name and token
# The `{noop}` means no secure hashing
TECHUSER_USERID=techuser
TECHUSER_APITOKEN={noop}pds-apitoken

# The loadbalancer start mode
#   debug - starts only the container
#   server - starts the loadbalancer
LOADBALANCER_START_MODE=debug, server

# Keeps the container alive after the server crashed.
# This is helpful for investigating the reason
# for the crash.
KEEP_CONTAINER_ALIVE_AFTER_PDS_CRASHED=true, false

# Location of the shared volume upload dir
SHARED_VOLUME_UPLOAD_DIR=/shared_volumes/uploads

# The database start mode
#   debug - starts only the container
#   server - starts the database
DATABASE_START_MODE=debug, server
POSTGRES_ENABLED=true, false
DATABASE_CONNECTION=jdbc:postgresql://database:5432/pds?currentSchema=gosec
DATABASE_PASSWORD=top$ecret
DATABASE_USERNAME=gosec