/* SPDX-License-Identifier: MIT */
/* SPDX-FileCopyrightText: 2022 Mercedes-Benz Tech Innovation GmbH */

:root {
    --dark-color: #212121;
    --light-color: #f2f2f2;
    --max-width: 40rem;
    --space: 1rem;

    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    padding: 2rem var(--space);
    position: relative;
}

header a {
    text-decoration: unset;
}

header a:focus, header a:hover {
    text-decoration: underline;
}

main {
    padding: var(--space);
}

ul {
    padding-left: var(--space);
    margin-bottom: var(--space);
}

footer {
    padding: 2rem var(--space);
}

#github-banner {
    display: block;
    background-color: #0063ae;
    position: absolute;
    font-weight: 700;
    padding: 0.5rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    top: 0;
    right: var(--space);
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}

.centered {
    margin: 0 auto;
    max-width: var(--max-width);
}

.light-text {
    color: var(--light-color);
}

.dark-bg {
    background-color: var(--dark-color);
}

.light-bg {
    background-color: var(--light-color);
}

.dark-gradient-bg {
    background: linear-gradient(to top, #373737, var(--dark-color));
}

.title {
    font-size: 3em;
    font-weight: 700;
}

.subtitle {
    font-weight: 300;
}
