<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Navbar</title>
</head>
<body>
	<nav th:fragment="navbar"
		class="flex-shrink padding-thin-all container-flex flex-row background-dark text-color-white">
		<img src="/sechub-logo.svg" class="logo"/>
		<div class="flex-grow padding-thin-all">
			<ul class="menu">
				<li class="item"><a href="/projects" th:text="#{common.projects}">Projects</a></li>
				<li class="item"><a href="/status" th:text="#{common.status}" >Status</a></li>
			</ul>
		</div>
		<div class="flex-shrink padding-thin-all">
			<h3>Language</h3>
			<ul>
				<li class="item"><a href="?lang=en" th:text="#{lang.switch-en}">English</a></li>
				<li class="item"><a href="?lang=de" th:text="#{lang.switch-de}">German</a></li>
			</ul>
		</div>
		<div class="flex-shrink padding-thin-all">
			<h3>Profile</h3>
			<ul>
				<li class="item"><a href="/request-new-apitoken" th:text="#{newapitoken.request-new}">Request new API Token</a></li>
				<li class="item"><a href="/logout" th:text="#{common.loggout}">Logout</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>