# SPDX-License-Identifier: MIT
name: Build and publish all SecHub PDS solutions

on:
  workflow_dispatch:
    inputs:
      pds-version:
        description: pds-base version to use (e.g. 1.0.0)
        required: true
  workflow_call:
    inputs:
      pds-version:
        required: true
        type: string

jobs:
  call_build_pds-checkmarx:
    uses: mercedes-benz/sechub/.github/workflows/_build+publish-pds-solution.yml@develop
    with:
      pds-solution: checkmarx
      pds-version: ${{ inputs.pds-version }}

  # 2023-06-12: findsecuritybugs deactivated due to upstream fix is not yet released
  # call_build_pds-findsecuritybugs:
  #   uses: mercedes-benz/sechub/.github/workflows/_build+publish-pds-solution.yml@develop
  #   with:
  #     pds-solution: findsecuritybugs
  #     pds-version: ${{ inputs.pds-version }}

  call_build_pds-gitleaks:
    uses: mercedes-benz/sechub/.github/workflows/_build+publish-pds-solution.yml@develop
    with:
      pds-solution: gitleaks
      pds-version: ${{ inputs.pds-version }}

  call_build_pds-gosec:
    uses: mercedes-benz/sechub/.github/workflows/_build+publish-pds-solution.yml@develop
    with:
      pds-solution: gosec
      pds-version: ${{ inputs.pds-version }}

  call_build_pds-iac:
    uses: mercedes-benz/sechub/.github/workflows/_build+publish-pds-solution.yml@develop
    with:
      pds-solution: iac
      pds-version: ${{ inputs.pds-version }}

  call_build_pds-loc:
    uses: mercedes-benz/sechub/.github/workflows/_build+publish-pds-solution.yml@develop
    with:
      pds-solution: loc
      pds-version: ${{ inputs.pds-version }}

  call_build_pds-multi:
    uses: mercedes-benz/sechub/.github/workflows/_build+publish-pds-solution.yml@develop
    with:
      pds-solution: multi
      pds-version: ${{ inputs.pds-version }}

  call_build_pds-owaspzap:
    uses: mercedes-benz/sechub/.github/workflows/_build+publish-pds-solution.yml@develop
    with:
      pds-solution: owaspzap
      pds-version: ${{ inputs.pds-version }}

  call_build-and-publish-pmd:
    uses: mercedes-benz/sechub/.github/workflows/_build+publish-pds-solution.yml@develop
    with:
      pds-solution: pmd
      pds-version: ${{ inputs.pds-version }}

  call_build_pds-scancode:
    uses: mercedes-benz/sechub/.github/workflows/_build+publish-pds-solution.yml@develop
    with:
      pds-solution: scancode
      pds-version: ${{ inputs.pds-version }}

  call_build_pds-tern:
    uses: mercedes-benz/sechub/.github/workflows/_build+publish-pds-solution.yml@develop
    with:
      pds-solution: tern
      pds-version: ${{ inputs.pds-version }}

  call_build_pds-xray:
    uses: mercedes-benz/sechub/.github/workflows/_build+publish-pds-solution.yml@develop
    with:
      pds-solution: xray
      pds-version: ${{ inputs.pds-version }}
